@page "/"
@inject NavigationManager navigate
@rendermode InteractiveServer
@attribute [Authorize]

<PageTitle>Мои проекты</PageTitle>

<h1>Мои проекты</h1>

<div>

    @foreach (var project in projects)
    {
        <div class="card m-4">
            <div class="card-header">
                <h5>
                    <b>@project.Title</b>
                </h5>
            </div>


            <div class="card-body">
                <p>
                    <b>Описание:</b>
                    <span>@project.Description</span>
                </p>

                <p>
                    <b>Кол-во участников:</b>
                    @if (project.Members?.Count == null)
                    {
                        <span>
                            0
                        </span>
                    }
                    else
                    {
                        <span>
                            @project.Members.Count
                        </span>
                    }
                </p>

                <p>
                    <b>Приватность:</b>
                    @if (project.PrivateStatus == 1)
                    {
                        <div class="rounded bg-success private">
                            <span class="text-white spanprivate">Открыт</span>
                        </div>
                    }
                    else
                    {
                        <div class="rounded bg-danger private">
                            <span class="text-white spanprivate">Закрыт</span>
                        </div>
                    }
                </p>


                <p>
                    <b>Статус:</b>
                    @if (project.Status == 1)
                    {
                        <div class="rounded bg-info status">
                            <span class="text-white spanstatus">В работе</span>
                        </div>
                    }
                    else
                    {
                        <div class="rounded bg-warning status">
                            <span class="text-white spanstatus">В поисках</span>
                        </div>
                    }
                </p>


                <p><b>Создано:</b> <span>@project.CreatedDate?.ToString("dd.MM.yyyy")</span></p>
            </div>

            <div class="card-footer">
                <a class="btn btn-primary" href="project/@project.Id">Перейти...</a>
            </div>
        </div>

    }
</div>

@code {
    IEnumerable<ProjectItem> projects = new List<ProjectItem>
    {
        new ProjectItem { Id = 1, Title = "Нахождение костного мозга", Description = "Создание алгоритмического аппарата", CreatedDate = DateTime.Now, PrivateStatus = 1, Status = 1, Members = members },
        new ProjectItem { Id = 2, Title = "Нахождение костного мозга", Description = "Создание алгоритмического аппарата", CreatedDate = DateTime.Now, PrivateStatus = 2, Status = 2  }

    };

    static List<Person> members = new List<Person>
    {
        new Person { Id = 1, FirstName = "Мария", MiddleName = "Костьянова", LastName = "Константиновна" }
    };
}